.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-wrap: wrap;
}

.set-counter {
  width: 350px;
  height: 30vh;
  border: 1px solid #ffffff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-right: 50px;
}

.set-controls {
  width: 80%;
  border: 1px solid #ffffff;
  border-radius: 3px;
  padding: 10px;
}

.set-item {
  display: flex;
  justify-content: space-between;
}

.set-item:first-child {
  margin-bottom: 10px;
}

.main-counter{
  width: 300px;
  height: 30vh;
  border: 1px solid #ffffff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.display {
  width: 70%;
  height: 86px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  width: 80%;
  display: flex;
  justify-content: center;
}

.btn {
  margin: 0 10px;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  outline: none;
}

.end {
  color: tomato;
}

.label {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.label input {
  text-align: center;
}

.startText {
  font-size: 14px;
}

.error {
  outline: none;
  border: red 1px solid;
  background: pink;
}

.errorText {
  color: red;
}